<div class="air container">
    <div class="condition">
        <h3>AIR CONDITIONS</h3>
        <button>See More</button>
    </div>
    
        <div class=" parent">
        

            <div class="item">
               <fa-icon [icon]="fonttemp"></fa-icon>
                    <p>Real Feel</p>
              
                <h3>{{data.current?.feelslike_c| number:'1.0-0'}}˚C</h3>
            </div>
                <div class="item">
                    <fa-icon [icon]="fontwind"></fa-icon><p>Wind</p>
                        
                  
                    <h3>{{data.current?.wind_mph | number:'1.0-0'}}mph</h3>
                </div>
        
    
            <div class="item">
                 <fa-icon [icon]="fontdrop"></fa-icon>
                    <p>Precipitation</p>
              
                <h3>{{data.current?.precip_mm}}mm</h3>
            </div>

    
            <div class="item">
                <fa-icon [icon]="fontsun"></fa-icon>
                    <p>UV index</p>
              
                <h3>{{data.current?.uv}}mW/m2 </h3>
            </div>
            
        
        </div>

        
       
    
</div>
